@use "../../assets/sass/_variables.scss" as *;

.contacts {
  padding: 0.75rem;
  color: $color-white;
  &__icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__form{
    margin: 1.25rem 0;
  }
}
