@use "../../assets/sass/_variables.scss" as *;

.album {
  img {
    height: 14rem;
    box-shadow: 0.438rem 0.625rem 0.625rem 0.25rem rgba(0, 0, 0, 0.3);
  }
  &__title {
    color: $color-white;
  }
}
