@use "../../assets/sass/_variables.scss" as *;

.home {
  background-image: linear-gradient(
      rgba(49, 49, 49, 0.5),
      rgba(49, 49, 49, 0.5)
    ),
    url("../../assets/images/bruno-mars.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  &__intro{
    padding: 10px;
  }
  h1,
  p {
    color: $color-white;
  }
}
