@use "./assets/sass/variables" as *;
@use "./assets/sass/typography" as *;

.App {
  text-align: center;
  background-color: $color-black;
}

.App > div {
  width: 100vw;
  min-height: 50vh;
  margin-top: 4.5rem;
}
