@use "../../assets/sass/_variables.scss" as *;

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: goldenrod;
  top: 0;
  &__logo {
    margin-left: 1.5rem;
  }
  &__header {
    display: flex;
    align-items: center;
    &--items {
      list-style-type: none;
      margin-right: 1rem;

      &:hover{
        color: black;
        margin-top: 0.625rem;
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        transition: 0.3s;
      }
    }
  }
}
